body {
    padding: 0;
    margin: 0;
    position: relative;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('asset/Images/blue-sky-with-cloud-closeup_150588-122.avif');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}


@media (max-width: 550px) {

    html body {

        position: relative;

    }

    html::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('asset/Images/blue-sky-with-cloud-closeup_150588-122.avif');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    body main {
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
    }

    main #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: grey;
        min-height: 140px;
    }

    .headerText {
        display: none;
    }

    #currentWeatherData {
        word-break: break-all;
    }

    div.dayOneweatherSvgContainer, div.dayTwoweatherSvgContainer, div.dayThreeweatherSvgContainer {
        display: block;
    }

    .dayOneweatherLeftSvgContainer, .dayTwoweatherLeftSvgContainer, .dayThreeweatherLeftSvgContainer {
        display: block;
    }

    div#dayOneAdditionalInfo, div#dayTwoAdditionalInfo, div#dayThreeAdditionalInfo {
        display: none;
    }

    .svgContent svg, .LeftsvgContent svg {
        fill: black;
    }

    #hero #heroContent {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 0;
    }

    #heroContent #form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form #input {
        height: 18px;
        width: 300px;
        padding: 10px;
        border-radius: 9px;
        font-size: 17px;
        border: none;
        outline: none;
    }

    ::placeholder {
        font-size: 20px;
        max-width: 400px;
    }

    #searchLocation svg {
        width: 30px;
        height: 30px;
        pointer-events: none;
        fill: azure;
    }


    #searchLocation:active {
        background-color: rgba(173, 157, 14, );
        border-radius: 50%;
    }


    main #container {

        min-height: 100vh;
    }

    img.weatherConditionImg {
        width: 100px;
    }

    h3.boldTempEl {
        font-size: 2rem;
        margin: 0;
    }

    div#errorContainer {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        height: 200px;
        position: static;
        /* top: 0;
        left: 12rem; */
        box-shadow: 0px 7px 10px 3px;
        display: none;
    }

    div.errorMainContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 9rem;
    }

    .errorTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.error {
        color: black;
        font-weight: 700;
        font-size: 20px;
        max-width: 200px;
        margin: 0;
        outline: solid;
        text-align: center;
    }

    div.errorCover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 36px;
    }


}

@media (min-width: 551px) and (max-width: 768px) {

    body main {
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
    }

    main #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: grey;
        min-height: 136px;
    }

    #hero #heroContent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: hwb(0 93% 6%);
    }

    #heroContent .headerText {
        font-size: 25px;
        padding: 15px;
        font-weight: 900;
        text-align: center;
    }



    #heroContent #form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form #input {
        height: 25px;
        width: 340px;
        padding: 7px;
        border-radius: 9px;
        font-size: 17px;
        border: none;
        outline: none;
    }

    #input ::placeholder {
        font-size: 23px;
    }

    #searchLocation svg {
        width: 40px;
        height: 40px;
        pointer-events: none;
        fill: azure;
    }


    #searchLocation:active {
        border-radius: 50%;
    }


    main #container {
        display: none;
        min-height: 1043px;
        max-height: 100%;

    }
}

@media (min-width: 769px) and (max-width: 1000px) {

    body main {
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
    }

    main #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: grey;
        min-height: 136px;
    }

    #hero #heroContent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: hwb(0 93% 6%);
    }

    #heroContent .headerText {
        font-size: 25px;
        padding: 15px;
        font-weight: 900;
        text-align: center;
    }



    #heroContent #form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form #input {
        height: 25px;
        width: 340px;
        padding: 7px;
        border-radius: 9px;
        font-size: 17px;
        border: none;
        outline: none;
    }

    #input ::placeholder {
        font-size: 23px;
    }

    #searchLocation svg {
        width: 40px;
        height: 40px;
        pointer-events: none;
        fill: azure;
    }



    #searchLocation:active {
        border-radius: 50%;
    }


    main #container {
        display: none;
        min-height: 1043px;
        max-height: 100%;

    }
}

main {
    display: grid;
    grid-template-columns: 200px 50% 200px;
    grid-template-rows: 120px repeat(4, 295px);
    font-family: "Roboto", sans-serif;

    position: relative;

}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('asset/Images/blue-sky-with-cloud-closeup_150588-122.avif');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}


@font-face {
    font-family: "Roboto";
    src: url("./asset/Roboto/Roboto-Black.ttf") format('ttf');

    font-style: normal;
    font-weight: 700;
}

#hero {
    grid-area: 1 / 1 / 2 / 7;
    background-color: grey;
}

#heroContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hwb(0 93% 6%);
    gap: 50px;
    padding-inline: 70px;
}


#container {
    background-color: rgb(172 192 192 / 90%);
    grid-area: 2 / 2 / 8 / 4;
    display: none;
}


#dayOneAdditionalInfo {
    display: block;
}

#errorContainer {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    position: relative;
    top: 12rem;
    left: 12rem;
    box-shadow: 0px 7px 10px 3px;
    display: none
}

.errorCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 36px;
}

.error {
    color: black;
    font-weight: 700;
    font-size: 20px;
    width: 300px;
    margin: 0;
    outline: solid;
}

.warningContainer svg {
    width: 180px;
    height: 60px;
    fill: red;
}


.currentWeatherInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 6px solid white;
    border-radius: 15px;
    margin: 20px;
}


#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#input {
    height: 20px;
    width: 70%;
    padding: 10px;
    border-radius: 9px;
    font-size: 17px;
    border: none;
    outline: none;
}

::placeholder {
    font-size: 19px;
}

svg {
    width: 35px;
    height: 70px;
    pointer-events: none;
    fill: white;
}

#searchLocation:hover {
    transform: scale(1.05);
}



.headerText {
    font-size: 1.6rem;
    padding: 10px;
    font-weight: 900;
}

.currentWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;


}

.countryEl {
    font-size: 17px;

}

.weatherIconTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boldTempEl {
    font-size: 50px;
    margin: 0;
}


.weatherConditionImg {
    width: 140px;
}

.tempEl {

    display: none;
}

.weatherCondition {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#currentWeatherData>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 1.1rem;
    margin-top: 15px;

}


#currentWeatherData>div>p {

    margin: 0;
}


#dayOne {
    display: flex;
    flex-direction: column;
    border: 6px solid white;
    border-radius: 15px;
    justify-content: space-between;
    margin: 20px;
}

.dayOneWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.dayOneWeatherConditionImg {
    width: 76px;
}

.dayOneboldTempEl {
    margin: 0;
    font-size: 30px;
}

#InnerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.dayOneweatherSvgContainer, .dayTwoweatherSvgContainer, .dayThreeweatherSvgContainer {
    display: none;
}

.dayOneweatherLeftSvgContainer, .dayTwoweatherLeftSvgContainer, .dayThreeweatherLeftSvgContainer {
    display: none;
}

#dayOneWeatherDetails>div, #dayOneAdditionalInfo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;
}

#dayOneWeatherDetails>div>p, #dayOneAdditionalInfo>div>p {
    word-break: break-all;
    margin: 0;
}



#dayTwo {
    display: flex;
    flex-direction: column;
    border: 6px solid white;
    border-radius: 15px;
    justify-content: space-between;
    margin: 20px;
}


.dayTwoWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.dayTwoWeatherIconTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayTwoWeatherConditionImg {
    width: 76px;
}

.dayTwoboldTempEl {
    margin: 0;
    font-size: 30px;
}

#dayTwoInnerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#dayTwoWeatherDetails>div, #dayTwoAdditionalInfo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;
}

#dayTwoWeatherDetails>div>p, #dayTwoAdditionalInfo>div>p {
    margin: 0;
    word-break: break-all;
}

#dayThree {
    display: flex;
    flex-direction: column;
    border: 6px solid white;
    border-radius: 15px;
    justify-content: space-between;
    margin: 20px;
}

.dayThreeWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}


.dayThreeWeatherConditionImg {
    width: 76px;
}

.dayThreeWeatherIconTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayThreeboldTempEl {
    margin: 0;
    font-size: 30px;
}

#dayThreeInnerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#dayThreeWeatherDetails>div, #dayThreeAdditionalInfo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;
}

#dayThreeWeatherDetails>div>p, #dayThreeAdditionalInfo>div>p {
    margin: 0;
    word-break: break-all;
}

#submitLocation {
    font-size: 20px;
}