body {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 5% 10% 60% 20%;
    grid-template-rows: 70px repeat(5, 295px);
    /* gap: 2rem 0px; */
    font-family: "Roboto", sans-serif;


}

@font-face {
    font-family: "Roboto";
    src: url("asset/Roboto/Roboto-Black.ttf") format('ttf');

    font-style: normal;
    font-weight: 700;
}

#hero {
    grid-area: 1 / 1 / 2 / 7;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: grey;
}

#heroContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hwb(0 93% 6%);
}

#gifContainer {
    grid-area: 2 / 4 / 3 / 5;
    background-size: cover;
}


#gifContainer2 {
    grid-area: 3 / 4 / 4 / 5;
    background-size: cover;

}


#gifContainer3 {
    grid-area: 4 / 4 / 5 / 5;
    background-size: cover;

}

#gifContainer4 {
    grid-area: 5 / 4 / 6 / 5;
    background-size: cover;

}

#gifContainer5 {
    grid-area: 6 / 4 / 7 / 5;
    background-size: cover;

}

#gifContainer6 {
    grid-area: 6 / 4 / 7 / 5;
    background-size: cover;

}

#container {
    background-color: rgb(172, 182, 182);
    grid-area: 2 / 3 / 8 / 4;
    display: none;
}


.currentWeatherInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 6px solid white;
    border-radius: 60px 34px;
    margin: 20px;
}


#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    height: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 9px;
    font-size: 17px;
    border: none;
    outline: none;
}

::placeholder {
    font-size: 17px;
}

svg {
    width: 25px;
    height: 25px;
    pointer-events: none;
    fill: azure;
}

#searchLocation:hover {
    background-color: rgb(150, 233, 233, .2);
    border-radius: 50%;
}

#searchLocation:active {
    background-color: rgba(173, 157, 14, );
    border-radius: 50%;
}


.descriptionHeader {
    font-size: 19px;
    padding: 10px;
    font-weight: 900;
}

.currentWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;


}

.countryEl {
    font-size: 17px;

}

.weatherIconTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boldTempEl {
    font-size: 50px;
    margin: 0;
}


.weatherConditionImg {
    width: 140px;
}

.tempEl {

    display: none;
}

.weatherCondition {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

/* .weatherCondition p {
    border-bottom: 1px solid white;
    font-size: 18px;
} */

#currentWeatherData>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;

}


#currentWeatherData>div>p {

    margin: 0;
}


#dayOne {
    display: flex;
    flex-direction: column;
    border: 6px solid white;
    border-radius: 60px 34px;
    justify-content: space-between;
    margin: 20px;
}

.dayOneWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.dayOneWeatherConditionImg {
    width: 76px;
}

.dayOneboldTempEl {
    margin: 0;
    font-size: 30px;
}

#InnerContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;

}

#dayOneWeatherDetails>div, #dayOneAdditionalInfo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;
}

#dayOneWeatherDetails>div>p, #dayOneAdditionalInfo>div>p {
    margin: 0;
}



#dayTwo {
    display: flex;
    flex-direction: column;
    border: 6px solid white;
    border-radius: 60px 34px;
    justify-content: space-between;
    margin: 20px;
}


.dayTwoWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.dayTwoWeatherIconTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayTwoWeatherConditionImg {
    width: 76px;
}

.dayTwoboldTempEl {
    margin: 0;
    font-size: 30px;
}

#dayTwoInnerContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;

}

#dayTwoWeatherDetails>div, #dayTwoAdditionalInfo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;
}

#dayTwoWeatherDetails>div>p, #dayTwoAdditionalInfo>div>p {
    margin: 0;
}

#dayThree {
    display: flex;
    flex-direction: column;
    border: 6px solid white;
    border-radius: 60px 34px;
    justify-content: space-between;
    margin: 20px;
}

.dayThreeWeatherHeader {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}


.dayThreeWeatherConditionImg {
    width: 76px;
}

.dayThreeWeatherIconTemp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayThreeboldTempEl {
    margin: 0;
    font-size: 30px;
}

#dayThreeInnerContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;

}

#dayThreeWeatherDetails>div, #dayThreeAdditionalInfo>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 19px;
    margin-top: 15px;
}

#dayThreeWeatherDetails>div>p, #dayThreeAdditionalInfo>div>p {
    margin: 0;
}

#submitLocation {
    font-size: 20px;
}